################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MedPlus/MedPlus.csproj.user
/MedPlus/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
